@model ConsultingProject.Core.Domain.Etapas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Etapas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEtapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEtapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEtapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEtapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEtapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEtapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyectoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProyectoNavigation.IdProyecto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEtapa"class="btn btn-primary">Editar</a> |
    <a asp-action="Indexclass="btn btn-info"">Ir a la Lista</a>
</div>
