@model ConsultingProject.Core.Domain.Profesiones

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Profesiones</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProfesion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProfesion">Editar</a> |
    <a asp-action="Index">Ir a la Lista</a>
</div>
