@model ConsultingProject.Core.Domain.Empresa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DigitoVerificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DigitoVerificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaconstlegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaconstlegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoDepartamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CódigoDepartamentoNavigation.CódigoDepartamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoMunicipioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CódigoMunicipioNavigation.CódigoMunicipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEjeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEjeNavigation.IdEje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesionalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesionalNavigation.IdProfesional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyectoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProyectoNavigation.IdProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSectorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSectorNavigation.IdSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTamañoEmpresaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTamañoEmpresaNavigation.IdTamañoEmpresa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdEmpresa">Editar</a> |
    <a asp-action="Index">Ir a la Lista</a>
</div>
