@model ConsultingProject.Core.Domain.Actividades

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Actividades</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionActividad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionActividad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEtapaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEtapaNavigation.IdEtapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesionalNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProfesionalNavigation.IdProfesional)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyectoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProyectoNavigation.IdProyecto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdActividad">Editar</a> |
    <a asp-action="Index">Ir a la Lista</a>
</div>
