@model ConsultingProject.Core.Domain.RepresentanteLegal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Representante Legal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdReprLegal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReprLegal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombresRepresentanteLegal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombresRepresentanteLegal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidosRepresentanteLegal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidosRepresentanteLegal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.IdEje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoDocumentoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoDocumentoNavigation.IdTipoDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdReprLegal">Editar</a> |
    <a asp-action="Index">Ir a la Lista</a>
</div>
