@model ConsultingProject.Core.Domain.TipoDocumento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Tipo Documento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTipoDocumento"class="btn btn-primary">Editar</a> |
    <a asp-action="Index"class="btn btn-info">Ir a la Lista</a>
</div>
