@model IEnumerable<ConsultingProject.Core.Domain.TipoDocumento>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Tpo de Documento</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeDocumento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeDocumento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoDocumento">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoDocumento">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoDocumento">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
