@model ConsultingProject.Core.Domain.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Está Seguro de Eliminar Esto?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesionalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesionalNavigation.IdProfesional)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-info">Ir a la Lista</a>
    </form>
</div>
