@model IEnumerable<ConsultingProject.Core.Domain.TamañoEmpresa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Tamaño de Empresas</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TamañoEmpresa1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TamañoEmpresa1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTamañoEmpresa">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTamañoEmpresa">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTamañoEmpresa">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
