@model IEnumerable<ConsultingProject.Core.Domain.Estudios>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Contenido de Estudios</h1>
@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Cerrar</span>
        </button>
    </div>
}
@if (TempData["MensajeEliminar"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["MensajeEliminar"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">Cerrar</span>
        </button>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-warning">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEstudio" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEstudio" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEstudio" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
