@model IEnumerable<ConsultingProject.Core.Domain.Sector>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Sectores</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sector1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sector1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSector" class="btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdSector" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSector" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
