@model ConsultingProject.Core.Domain.Proyecto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Proyecto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProyecto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreProyecto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoConvenio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoConvenio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Objeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Objeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoEjecucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlazoEjecucion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Presupuesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Presupuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProyecto">Editar</a> |
    <a asp-action="Index">ir a la Lista</a>
</div>
