@model IEnumerable<ConsultingProject.Core.Domain.Proyecto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Contenido de Proyectos</h1>

@if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
}
@if (User.IsInRole("Profesional"))
{
    <p>
        <a asp-action="Create">Crear Nuevo</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoConvenio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlazoEjecucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presupuesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoConvenio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlazoEjecucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presupuesto)
            </td>

            @if (User.IsInRole("Administrador"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProyecto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProyecto">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProyecto">Eliminar</a>
                </td>
            }
            @if (User.IsInRole("Profesional"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProyecto">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProyecto">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProyecto">Eliminar</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
