@model ConsultingProject.Core.Domain.Municipio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MenuAdmin.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoMunicipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CódigoMunicipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMunicipio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreMunicipio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CódigoDepartamentoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CódigoDepartamentoNavigation.CódigoDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CódigoMunicipio"class="btn btn-primary">Editar</a> |
    <a asp-action="Index"class="btn btn-info">Ir a la lista</a>
</div>
